[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = gh:tpope/vim-repeat.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/ghc-mod"]
	path = bundle/ghc-mod
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "bundle/todo-txt"]
	path = bundle/todo-txt
	url = https://github.com/davidoc/todo.txt-vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/table-mode"]
	path = bundle/table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "bundle/idris"]
	path = bundle/idris
	url = https://github.com/jhenahan/idris-vim.git
